.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;

  div {
    text-align:center;
    &:first-child {
      margin-right: 80px;
    }
  }

  h1 {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 20px;
  }

}
