.ethan {
  header {
    position:fixed;
    &.background {
      background-color:white;
      border-bottom:1px solid black;
    }
  }
  .heroContainer {
    h1 {
      font-family: 'Rye', cursive;
      text-align: center;
      color: white;
    }
    h2 {
      width:100%;
      font-size:36px;
      text-align:center;
      float:left;
      font-family: 'Lora', sans-serif;
      font-weight:400;
      color: white;
    }
  }
}
