.trailer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(245,245,245,1) 50%, crgba(255,255,255,1) 0%);

  h2 {
    font-style: italic;
  }


}
